footer{
    background: #333;
    padding: 3rem 0;
    text-align: center;
}
footer .social-icon{
    justify-content: center;
}
footer .backtotop{
    font-size: 40px;
    cursor: pointer;
    transition: all .2s ease-in;
}
footer .backtotop:hover{
    transform: translateY(-5px);
}
