/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Book.ttf');
	font-weight: 400;
}

@font-face {
	font-family: Montserrat;
	src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
  font-display: block;
	font-style: normal italic;
	font-weight: 100 900;
	font-stretch: 10% 400%;
}
/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Custom Css ************/
.section-title{
    font-size: calc(1.75rem + .9vw);
    margin: 0 auto;
    font-weight: 600;
    width: fit-content;
    margin-bottom: 3rem;
    transform: scaleX(1.1);
}

/************ Animation ************/
:root {
  --animate-delay: 0.5s;
}

/************ responsive ************/
@media (max-width:768px) {
  .hero .hero-title{
      text-align: center;
  }
  .connectBtn{
      font-size:18px;
      padding: 6px 24px;
      margin: 0 auto;
  }
  .social-icon{
      justify-content: space-around;
  }
  #island img{
      display: none;
  }
  #projects .row {
    margin-bottom: 4rem!important;
  }
}
@media (max-width:1200px) {
  #island{
      height: 110%;
  }
  
}
@media (max-width:576px) {
  #skills{
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
  }
  #island{
      height: 100%;
      border-radius: 0;
      bottom: 0;
  }
}
@media (max-height:799px) {
  #skills{
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
  }
  #island{
      bottom: 0;
      height: 100%;
      border-radius: 0;
  }
  #island img{
      display: none;
  }
}